
<div *ngIf="showSignupForm" class="user-form">
  <!-- Signup form -->
  <h3>Signup</h3>
  <form (ngSubmit)="signup()" >
    <div>
      <label>Email:</label>
      <input type="email" [(ngModel)]="signupEmail" name="signupEmail" required>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" [(ngModel)]="signupPassword" name="signupPassword" required>
    </div>
    <button type="submit">Signup</button>
  </form>
  <p>Already have an account? <a (click)="toggleForm()">Login</a></p>
</div>

<div *ngIf="!showSignupForm" class="user-form">
  <!-- Login form -->
  <h3>Login</h3>
  <form (ngSubmit)="login()">
    <div>
      <label>Email:</label>
      <input type="email" [(ngModel)]="loginEmail" name="loginEmail" required>
    </div>
    <div>
      <label>Password:</label>
      <input type="password" [(ngModel)]="loginPassword" name="loginPassword" required>
    </div>
    <button type="submit">Login</button>
  </form>
  <p>Don't have an account? <a (click)="toggleForm()">Signup</a></p>
</div>
